In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./sustainhacksdata/fixedissue.csv")
df

,Unnamed: 0,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW_x,...,DAYTON,DEOK,DOM,DUQ,EKPC,FE,PJME,PJMW,PJME_MW,PJMW_MW
0,0,2013-12-31 01:00:00,15128.0,11979.0,1930.0,3065.0,10239.0,1563.0,1861.0,7459.0,...,1930.0,3065.0,10239.0,1563.0,1861.0,7459.0,30254.0,5840.0,30254.0,5840.0
1,1,2013-12-31 02:00:00,14886.0,11438.0,1884.0,2970.0,9964.0,1498.0,1835.0,7241.0,...,1884.0,2970.0,9964.0,1498.0,1835.0,7241.0,29241.0,5710.0,29241.0,5710.0
2,2,2013-12-31 03:00:00,14831.0,11113.0,1845.0,2917.0,9921.0,1469.0,1841.0,7115.0,...,1845.0,2917.0,9921.0,1469.0,1841.0,7115.0,28772.0,5617.0,28772.0,5617.0
3,3,2013-12-31 04:00:00,14873.0,10928.0,1843.0,2910.0,9981.0,1461.0,1872.0,7073.0,...,1843.0,2910.0,9981.0,1461.0,1872.0,7073.0,28762.0,5661.0,28762.0,5661.0
4,4,2013-12-31 05:00:00,15001.0,10926.0,1875.0,2958.0,10290.0,1481.0,1934.0,7156.0,...,1875.0,2958.0,10290.0,1481.0,1934.0,7156.0,29391.0,5732.0,29391.0,5732.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51483,51483,2018-01-01 20:00:00,21089.0,13858.0,2732.0,4426.0,18418.0,1962.0,2866.0,9378.0,...,2732.0,4426.0,18418.0,1962.0,2866.0,9378.0,44284.0,8401.0,44284.0,8401.0
51484,51484,2018-01-01 21:00:00,20999.0,13758.0,2724.0,4419.0,18567.0,1940.0,2846.0,9255.0,...,2724.0,4419.0,18567.0,1940.0,2846.0,9255.0,43751.0,8373.0,43751.0,8373.0
51485,51485,2018-01-01 22:00:00,20820.0,13627.0,2664.0,4355.0,18307.0,1891.0,2883.0,9044.0,...,2664.0,4355.0,18307.0,1891.0,2883.0,9044.0,42402.0,8238.0,42402.0,8238.0
51486,51486,2018-01-01 23:00:00,20415.0,13336.0,2614.0,4224.0,17814.0,1820.0,2880.0,8676.0,...,2614.0,4224.0,17814.0,1820.0,2880.0,8676.0,40164.0,7958.0,40164.0,7958.0
51487,51487,2014-03-11 14:00:00,NaN,11688.0,1989.0,2964.0,9701.0,1707.0,1206.0,8183.0,...,1989.0,2964.0,9701.0,1707.0,1206.0,8183.0,30239.0,5434.0,30239.0,5434.0